<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>177258312576-llhgu73p0sdf5fdau9q3g3mkb6rb8ulc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177258312576-llhgu73p0sdf5fdau9q3g3mkb6rb8ulc</string>
	<key>API_KEY</key>
	<string>AIzaSyDt0JM_aFZ2wUrtRyrLkKnag41gmVjFbvo</string>
	<key>GCM_SENDER_ID</key>
	<string>177258312576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Drive2StudyApp</string>
	<key>PROJECT_ID</key>
	<string>drive2studyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>drive2studyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177258312576:ios:3f8dcdc0b8a3ea84</string>
	<key>DATABASE_URL</key>
	<string>https://drive2studyapp.firebaseio.com</string>
</dict>
</plist>